.demo{
background: url(../download.jpg);
height: 180px;
width: 180px;
display: flex;
}
.box{
  height: 100px;
  width: 100px;
  border:1px solid darkblue;
}
.main-container{
  /* width: 90%; */
  height: 500px;
  border: 1px solid darkorange;
  padding: 25px;
  display: flex;
  /* column-gap: 10px; */
  /* gap:15px; */
  /* justify-content: start;
  justify-content: flex-start;
  justify-content: left; */
/* 
  justify-content: right;
  justify-content: flex-end;
  justify-content: end; */

 /* justify-content: center;
 justify-content: space-around; */

 justify-content: space-evenly;

 /* align-items: flex-start;
 align-items: start; */


 /* align-items: center; */

 flex-wrap: wrap;
}
.nav-container{
  width: 100%;
  padding: 20px;
  display: flex;
  border: 1px solid darkgreen;
  justify-content: space-around;
  align-items: center;
}
ul{
  display: flex;
  list-style-type: none;
  gap:20px
}
li:hover{
  color: aqua;
  cursor: auto;
  background-color: darkkhaki;
}